.welcome {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px;
}

#logout {
  margin-left: 10px;
}

#disclaimer {
  display: block;
  text-align: left;
  padding: 14px 16px;
  margin-top: 10px;
}
#dataView {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-top: 8%;
}

#print {
  float: right;
}

#gauge {
  height: 500px;
  width: 480px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.chartHead {
  padding: 10px;
}

#myChart {
  float: left;
}

.about-list {
  list-style-type: disc;
}

#dataForm {
  padding: 30px;
}

#register {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

#login {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: darkred;
  color: white;
  padding: 2px;
}

ol {
  list-style-type: disc;
}

ol li {
  float: none;
}

#entryForm {
  margin-top: 14px;
}

thead {
  font-size: 14;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
  height: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
