<!DOCTYPE html>
<html>
    <head>
            <script src="//platform.fatsecret.com/js?key=73153570866c4e87a9c5843ac459c3ca"></script>
            <script>
                function doLoad(){
                    fatsecret.setContainer("my_container");
                    fatsecret.setCanvas("home");
                }
            </script>
    </head>
    <h2>API Spike</h2>
	<body onload="doLoad()">
            <div style="width:500px;margin:0 auto;">
                <div id="my_container" class="fatsecret_container">
                </div>
            </div>
        </body>
</html>