<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>How Do I Earn Points?</h2>
<form class="col-md-12" id="dataForm">
    <div class="form-group col-md-6">
    <h4><strong>Age:</strong></h4>
        <p>Low Risk (+5 Points): Men under 46 and Women under 56</p>
        <p>High Risk (+0 Points): Men over 45 and Women over 55 </p>
    </div>
    <div class="form-group col-md-6">
        <h4><strong>Nicotine:</strong></h4>
        <p>Low Risk (+10 Points): Not a Nicotine User</p>
        <p>High Risk (+0 Points): Nicotine User</p>
    </div>
</form>
<form class="col-md-12" id="dataForm">
<div class="form-group col-md-6">
        <h4><strong>ACSM Risk Questionnaire:</strong></h4>
        <p>Low Risk (+10 Points): Answered No to all questions</p>
        <p>High Risk (+0 Points): Answered Yes to 1 or more questions</p>
</div>
<div class="form-group col-md-6">
        <h4><strong>Family History:</strong></h4>
        <p>Low Risk (+5 Points): Father NOT diagnosed with CVD before 55 and Mother NOT diagnosed with CVD before 65</p>
        <p>High Risk (+0 Points): Father diagnosed with CVD before 55 or Mother diagnosed with CVD before 65</p>
</div>
</form>
<form class="col-md-12" id="dataForm">
<div class="form-group col-md-6">
        <h4><strong>Physical Activity:</strong></h4>
        <p>Low Risk (+16 Points): Moderate physical activity over 149 min/week</p>
        <p>Low Risk (+12 Points): Moderate physical activity between 120-149 min/week</p>
        <p>Moderate Risk (+8 Points): Moderate physical activity between 90-119 min/week</p>
        <p>Moderate Risk (+4 Points): Moderate physical activity between 60-89 min/week</p>
        <p>High Risk (+0 Points): Moderate physical activity under 60 min/week</p>
</div>
<div class="form-group col-md-6">
        <h4><strong>Physical Inactivity:</strong></h4>
        <p>Low Risk (+12 Points): 60 minutes or less of continuous sitting at a time, in a given day</p>
        <p>Moderate Risk (+6 Point): Between 61-89 minutes of continuous sitting at a time, in a given day</p>
        <p>Moderate Risk (+3 Point): Between 90-119 minutes of continuous sitting at a time, in a given day</p>
        <p>High Risk (+0 Points): 120 minutes or more of continuous sitting at a time, in a given day</p>
</div>
</form>
<form class="col-md-12" id="dataForm">
<div class="form-group col-md-6">
        <h4><strong>Blood Pressure:</strong></h4>
        <p>Low Risk (+12 Points): Systolic below 121 mmHg and Diastolic below 81 mmHg</p>
        <p>Moderate Risk (+8 Point): Systolic 121-129 mmHg and Diastolic below 81 mmHg</p>
        <p>Moderate Risk (+4 Point): Systolic 130-139 mmHg and Diastolic 81-89 mmHg</p>
        <p>High Risk (+0 Points): Systolic 140-179 mmHg and Diastolic 90-119 mmHg</p>
</div>
<div class="form-group col-md-6">
        <h4><strong>Stress:</strong></h4>
        <p>Low Risk (+10 Points): Total Stress rated 0-2 (out of 5)</p>
        <p>Moderate Risk (+6 Points): Total Stress rated 3-5 (out of 5) and Stress Management rated 4-5 (out of 5)</p>
        <p>Moderate Risk (+3 Points): Total Stress rated 3-5 (out of 5) and Stress Management rated 3 (out of 5)</p>
        <p>High Risk (+0 Points): Total Stress rated 3-5 (out of 5) and Stress Management rated 0-2 (out of 5)</p>
</div>
</form>
<form class="col-md-12" id="dataForm">
    <div class="form-group col-md-6">
        <h4><strong>Waist Size (in.):</strong></h4>
        <p>Low Risk (+10 Points): Men under 40in. and Women under 35in.</p>
        <p>Moderate Risk (+6 Points): Men between 40-44in. and Women between 35-39in.</p>
        <p>Moderate Risk (+3 Points): Men under 45-49in. and Women between 40-44in.</p>
        <p>High Risk (+0 Points): Men over 49in. and Women over 44in.</p>
</div>
<div class="form-group col-md-6">
        <h4><strong>Sleep:</strong></h4>
        <p>Low Risk (+10 Points): Sleeping 7+ hours/night</p>
        <p>Moderate Risk (+4 Points): Sleeping 5-7 hours/night</p>
        <p>High Risk (+0 Points): Sleeping under 5 hours/night</p>
</div>
</form>
</div>
<div class="container">
        <button ng-click="vm.dashView()" class="btn btn-danger">Back to Dashboard</button>
</div> 
</br>
</br>
